* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(83, 233, 128);
}

h2 {
    font-weight: bold;
}

.pop_box {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2vw;
    width: 70%;
}

.pop_box.show {
    visibility: visible;
}

.pop_box {
    visibility: hidden;
    padding: 2rem;
    background-color: azure;
}

.pop_box>div {
    padding: 0.4rem 0 0.4rem 0;
}

.pop_box>div:last-child {
    padding-top: 1.4rem;
}

.pop_box>div>label {
    padding-bottom: 0.4rem;
}


.btn {
    /* display: inline-block; */
    /* color: #333; */
    /* background-color: #fff; */
    /* font-size: 1.1rem; */
    padding: 10px 40px;
    /* font-weight: 500; */
    /* line-height: 24px; */
    border-radius: 18px;
    /* border: none; */
}